<%= form_for :contact, url: { action: "create" }, :html => {class: "contact100-form validate-form" } do |form| %>
  
  <% if flash.any? %>
    <% flash.each do |key, value| -%>
      <div class="flash flash__<%= key %>"><%= value.html_safe %></div>
    <% end -%>
  <% end %>

  <span class="contact100-form-title">
    <%= t('contacts.forms.labels.title') %> 
  </span>

  <label class="label-input100" for="first-name"><%= t('contacts.forms.labels.name') %> </label>
  <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="<%= t('contacts.forms.validations.first_name') %>">
    <%= form.text_field :first_name, class:'input100', placeholder: t('contacts.forms.placeholders.first_name') %>
    <span class="focus-input100"></span>
  </div>
  <div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="<%= t('contacts.forms.validations.last_name') %>">
    <%= form.text_field :last_name, class:'input100', placeholder: t('contacts.forms.placeholders.last_name') %>
    <span class="focus-input100"></span>
  </div>

  <label class="label-input100" for="email"><%= t('contacts.forms.labels.email') %> </label>
  <div class="wrap-input100 validate-input" data-validate="<%= t('contacts.forms.validations.email') %>">
    <%= form.text_field :email, class:'input100', placeholder: t('contacts.forms.placeholders.email') %>
    <span class="focus-input100"></span>
  </div>

  <label class="label-input100" for="phone"><%= t('contacts.forms.labels.phone') %> </label>
  <div class="wrap-input100">
    <%= form.text_field :phone_number, class:'input100', placeholder: t('contacts.forms.placeholders.phone') %>
    <span class="focus-input100"></span>
  </div>

  <label class="label-input100" for="message"><%= t('contacts.forms.labels.message') %> </label>
  <div class="wrap-input100 validate-input" data-validate="<%= t('contacts.forms.validations.message') %>">
    <%= form.text_area :message, id:'message', class:'input100', placeholder: t('contacts.forms.placeholders.message') %>
    <span class="focus-input100"></span>
  </div>

  <div class="container-contact100-form-btn">
    <%= form.submit t('contacts.forms.labels.button'), class:'contact100-form-btn' %>
  </div>
<%end%>